label[b-wtpsuho872] {
    font-weight: bold;
}

span[b-wtpsuho872]{
    font-weight: 400;
}

.grass[b-wtpsuho872] {
    background-color: lightgreen;
    align-self: center;
    border: 1px solid lightgreen;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fire[b-wtpsuho872] {
    background-color: red;
    align-self: center;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.water[b-wtpsuho872] {
    background-color: blue;
    align-self: center;
    border: 1px solid blue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.flying[b-wtpsuho872] {
    background-color: cadetblue;
    align-self: center;
    border: 1px solid cadetblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.normal[b-wtpsuho872] {
    background-color: gray;
    align-self: center;
    border: 1px solid gray;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.poison[b-wtpsuho872] {
    background-color: purple;
    align-self: center;
    border: 1px solid purple;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fighting[b-wtpsuho872] {
    background-color: darkred;
    align-self: center;
    border: 1px solid darkred;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.psychic[b-wtpsuho872] {
    background-color: hotpink;
    align-self: center;
    border: 1px solid hotpink;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dragon[b-wtpsuho872] {
    background-color: deepskyblue;
    align-self: center;
    border: 1px solid deepskyblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ghost[b-wtpsuho872] {
    background-color: cornflowerblue;
    align-self: center;
    border: 1px solid cornflowerblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dark[b-wtpsuho872] {
    background-color: mediumpurple;
    align-self: center;
    border: 1px solid mediumpurple;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ground[b-wtpsuho872] {
    background-color: orangered;
    align-self: center;
    border: 1px solid orangered;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fairy[b-wtpsuho872] {
    background-color: pink;
    align-self: center;
    border: 1px solid pink;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.rock[b-wtpsuho872] {
    background-color: ghostwhite;
    align-self: center;
    border: 1px solid ghostwhite;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.eletric[b-wtpsuho872] {
    background-color: yellow;
    align-self: center;
    border: 1px solid yellow;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bug[b-wtpsuho872] {
    background-color: forestgreen;
    align-self: center;
    border: 1px solid forestgreen;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ice[b-wtpsuho872] {
    background-color: cadetblue;
    align-self: center;
    border: 1px solid cadetblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.steel[b-wtpsuho872] {
    background-color: dodgerblue;
    align-self: center;
    border: 1px solid dodgerblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.DetalhePoke[b-wtpsuho872] {
    text-transform: uppercase;
}