body {
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.banner {
    padding-bottom: 33%;
    margin-bottom: 1em;
    background: rgb(227, 12, 85);
    position: relative;
    background-position: 0px -75px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(90deg, #E30C55 10%, #8C82E2 50%, #4CBAD1 100%);
    border-image-slice: 1;
    border-width: 5px;
}

    .banner::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 80%;
        background-image: linear-gradient(to top, #373E59 15%, rgba(255, 255, 255, 0) 100%);
    }

h1 {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    padding-bottom: 0.33em;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.div-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0px;
}

.card {
    position: relative;
    width: 185px;
    height: 185px;
    box-shadow: 0px 0px 25px -5px rgba(183, 189, 193, 0.4);
    border-radius: 12px;
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s;
    animation: fadeIn 0.3s forwards;
}

    .card:hover {
        box-shadow: 0px 0px 30px 5px rgba(183, 189, 193, 0.4);
    }

.card-inner {
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 12px 5px 5px;
    line-height: 19px;
}

    .card-inner::before {
        content: '';
        width: 110px;
        height: 110px;
        position: absolute;
        z-index: 0;
        background-size: 100%;
        background-color: gray;
        opacity: .2;
        -webkit-mask-image: url('https://raw.githubusercontent.com/lbns14/Projeto-Pokedex/main/pokeball.svg')
    }

.card-avatar {
    width: 110px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
}

.pokemon-descricao {
    text-align: center;
}

    .pokemon-descricao::first-letter {
        text-transform: uppercase;
    }

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

    .pagination a {
        color: #000;
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        margin-right: 5px;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
