/* _content/pokedex/Views/Pokemon/Details.cshtml.rz.scp.css */
label[b-wtpsuho872] {
    font-weight: bold;
}

span[b-wtpsuho872]{
    font-weight: 400;
}

.grass[b-wtpsuho872] {
    background-color: lightgreen;
    align-self: center;
    border: 1px solid lightgreen;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fire[b-wtpsuho872] {
    background-color: red;
    align-self: center;
    border: 1px solid red;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.water[b-wtpsuho872] {
    background-color: blue;
    align-self: center;
    border: 1px solid blue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.flying[b-wtpsuho872] {
    background-color: cadetblue;
    align-self: center;
    border: 1px solid cadetblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.normal[b-wtpsuho872] {
    background-color: gray;
    align-self: center;
    border: 1px solid gray;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.poison[b-wtpsuho872] {
    background-color: purple;
    align-self: center;
    border: 1px solid purple;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fighting[b-wtpsuho872] {
    background-color: darkred;
    align-self: center;
    border: 1px solid darkred;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.psychic[b-wtpsuho872] {
    background-color: hotpink;
    align-self: center;
    border: 1px solid hotpink;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dragon[b-wtpsuho872] {
    background-color: deepskyblue;
    align-self: center;
    border: 1px solid deepskyblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ghost[b-wtpsuho872] {
    background-color: cornflowerblue;
    align-self: center;
    border: 1px solid cornflowerblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.dark[b-wtpsuho872] {
    background-color: mediumpurple;
    align-self: center;
    border: 1px solid mediumpurple;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ground[b-wtpsuho872] {
    background-color: orangered;
    align-self: center;
    border: 1px solid orangered;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.fairy[b-wtpsuho872] {
    background-color: pink;
    align-self: center;
    border: 1px solid pink;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.rock[b-wtpsuho872] {
    background-color: ghostwhite;
    align-self: center;
    border: 1px solid ghostwhite;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.eletric[b-wtpsuho872] {
    background-color: yellow;
    align-self: center;
    border: 1px solid yellow;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bug[b-wtpsuho872] {
    background-color: forestgreen;
    align-self: center;
    border: 1px solid forestgreen;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.ice[b-wtpsuho872] {
    background-color: cadetblue;
    align-self: center;
    border: 1px solid cadetblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.steel[b-wtpsuho872] {
    background-color: dodgerblue;
    align-self: center;
    border: 1px solid dodgerblue;
    height: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.DetalhePoke[b-wtpsuho872] {
    text-transform: uppercase;
}
/* _content/pokedex/Views/Pokemon/Index.cshtml.rz.scp.css */
body[b-5c71cwck73] {
    box-sizing: border-box;
}

.menu[b-5c71cwck73] {
    display: flex;
    flex-direction: row;
}

.container[b-5c71cwck73] {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.banner[b-5c71cwck73] {
    padding-bottom: 33%;
    margin-bottom: 1em;
    background: rgb(227, 12, 85);
    position: relative;
    background-position: 0px -75px;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 5px solid;
    border-image-source: linear-gradient(90deg, #E30C55 10%, #8C82E2 50%, #4CBAD1 100%);
    border-image-slice: 1;
    border-width: 5px;
}

    .banner[b-5c71cwck73]::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -1px;
        height: 80%;
        background-image: linear-gradient(to top, #373E59 15%, rgba(255, 255, 255, 0) 100%);
    }

h1[b-5c71cwck73] {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 20px);
    padding: 10px;
    padding-bottom: 0.33em;
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    color: white;
}

.div-pokemons[b-5c71cwck73] {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0px;
}

.card[b-5c71cwck73] {
    position: relative;
    width: 185px;
    height: 185px;
    box-shadow: 0px 0px 25px -5px rgba(183, 189, 193, 0.4);
    border-radius: 12px;
    text-align: center;
    margin: 0px 10px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.2s;
    animation: fadeIn 0.3s forwards;
}

    .card:hover[b-5c71cwck73] {
        box-shadow: 0px 0px 30px 5px rgba(183, 189, 193, 0.4);
    }

.card-inner[b-5c71cwck73] {
    font-family: 'Montserrat';
    font-weight: 700;
    margin: 12px 5px 5px;
    line-height: 19px;
}

    .card-inner[b-5c71cwck73]::before {
        content: '';
        width: 110px;
        height: 110px;
        position: absolute;
        z-index: 0;
        background-size: 100%;
        background-color: gray;
        opacity: .2;
        -webkit-mask-image: url('https://raw.githubusercontent.com/lbns14/Projeto-Pokedex/main/pokeball.svg')
    }

.card-avatar[b-5c71cwck73] {
    width: 110px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
}

.pokemon-descricao[b-5c71cwck73] {
    text-align: center;
}

    .pokemon-descricao[b-5c71cwck73]::first-letter {
        text-transform: uppercase;
    }

.pagination[b-5c71cwck73] {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

    .pagination a[b-5c71cwck73] {
        color: #000;
        display: inline-block;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;
        margin-right: 5px;
    }

        .pagination a.active[b-5c71cwck73] {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active)[b-5c71cwck73] {
            background-color: #ddd;
        }
/* _content/pokedex/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rhbt7mxy5d] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rhbt7mxy5d] {
  color: #0077cc;
}

.btn-primary[b-rhbt7mxy5d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rhbt7mxy5d], .nav-pills .show > .nav-link[b-rhbt7mxy5d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rhbt7mxy5d] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rhbt7mxy5d] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rhbt7mxy5d] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rhbt7mxy5d] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rhbt7mxy5d] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
